* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /*background-color: black;*/
    height: 10000px;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    width: 0.1px;
}
::-moz-scrollbar {
    width: 1px;
}
::-ms-scrollbar {
    width: 1px;
}
nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*border: 1px solid red;*/
    position: fixed;
    top: 0;
    height: 10dvh;
    justify-items: center;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.navbar-logo {
    width: 20%;
    height: 80%;
    /*background-color: red;*/

}

.navbar-button-container {
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: violet;
    font-weight: bolder;
}


header {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    position: relative;
    /*border: 1px solid blue;*/

}

hero {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*border: 1px solid chartreuse;*/
    flex-direction: column;
    background-image: url('../images/EXTERIEUR_05.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10%;
}
hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
h1{
    font-size: 6rem;
    font-weight: bolder;
    color: chartreuse;
    z-index: 10;
}
p{
    color: chartreuse;
    font-size: 2rem;
    z-index: 10;
}
.reservation-button-container{
    display: flex;
    width: 30%;
    height: 7.5%;
    z-index: 10;
    background-color:transparent;
    border-radius: 10px;
    border: 1px solid darkorchid;
}
.reservation-button-container:hover{
    border: 1px solid chartreuse;
    background-color: darkorchid;
}
.reservation-button{
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    color: chartreuse;
    z-index: inherit;
}